<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Revenj.Extensibility.Autofac.Configuration.SectionHandler, Revenj.Extensibility" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value="." />
    <add key="ServerAssembly" value="../model/GeneratedModel.dll"/>
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=@dbHost@)(PORT=@dbPort@)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));User Id=@dbUser@;Password=@dbPassword@;" />
    <add key="HttpAddress_localport" value="http://@revenjHost@:@revenjPort@/" />
    <add key="DefaultAuthorization" value="Basic cmV2ZW5qOnJldmVuag==" />
    <add key="CustomAuth" value="Revenj.Http.NoAuth"/>
    <add key="ApplicationMode" value="Debug" />
  </appSettings>
  <!--system.diagnostics>
    <sources>
      <source name="Revenj.Database" switchValue="All" />
      <source name="Revenj.Serialization" switchValue="All" />
      <source name="Revenj.Aspects" switchValue="All" />
      <source name="Revenj.Server" switchValue="All">
        <listeners>
          <remove name="Default" />
          <add name="xmlLog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlLog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="revenj.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics-->
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <!-- REST service-->
        <add relativeAddress="RestApplication.svc"
             service="Revenj.Wcf.RestApplication, Revenj.Wcf" />
        <!-- REST plugins-->
        <!--add relativeAddress="Crud.svc"
             service="Revenj.Features.RestCache.CachingCrudCommands, Revenj.Features.RestCache" /-->
        <add relativeAddress="Crud.svc"
             service="Revenj.Plugins.Rest.Commands.CrudCommands, Revenj.Plugins.Rest.Commands" />
        <add relativeAddress="Commands.svc"
             service="Revenj.Plugins.Rest.Commands.StandardCommands, Revenj.Plugins.Rest.Commands" />
        <!--add relativeAddress="Domain.svc"
             service="Revenj.Features.RestCache.CachingDomainCommands, Revenj.Features.RestCache" /-->
        <add relativeAddress="Domain.svc"
             service="Revenj.Plugins.Rest.Commands.DomainCommands, Revenj.Plugins.Rest.Commands" />
        <add relativeAddress="Reporting.svc"
             service="Revenj.Plugins.Rest.Commands.ReportingCommands, Revenj.Plugins.Rest.Commands" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModuleOracle, Revenj.Wcf" />
    </modules>
    <components>
      <component type="Revenj.Http.NoAuth, Revenj.Http" service="Revenj.Security.IPermissionManager, Revenj.Security.Interface" />
    </components>
  </autofacConfiguration>
</configuration>
