<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
      %date [%file:%line] %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender name="STDOUT-plain" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <logger name="dsl-client-http" level="TRACE">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="ocd-anchor-logger" level="TRACE">
    <appender-ref ref="STDOUT-plain" />
  </logger>
</configuration>
